<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
    <p class="lead">Keep Your Secrets and Data Safe with High Authentication Security!</p>
    <hr />
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

    <!-- Other registration form elements go here -->

    <div class="container">
      <!-- Add this block to display registration messages -->
      <% if (typeof registrationMessage !== 'undefined') { %>
      <div class="alert alert-warning" role="alert">
        <%= registrationMessage %>
      </div>
      <% } %>
    </div>

    <!-- Other registration form elements go here -->
  </div>
</div>

<%- include('partials/footer') %>
