<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>

    <% if (typeof SecretMessage !== 'undefined') { %>
    <h1 class="display-3"><%= SecretMessage %></h1>
    <% } else { %>
    <h1 class="display-3">Here Are Your Secrets!</h1>
    <% } %> 
    
    <% if (typeof usersWithSecrets !== 'undefined') { %>
      <% usersWithSecrets.forEach(function(user) { %>
        <% user.secrets.forEach(function(secret) { %>
          <p class="secret-text"><%= secret %></p>
        <% }) %>
      <% }) %>
    <% } %>
    

    <hr />
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button"
      >Submit a Secret</a
    >
  </div>
</div>

<%- include('partials/footer') %>
